.preOutput {
    margin: 1em 0;
}

.tagBits {
    color: greenyellow;
}

.offsetBits {
    color: pink;
}

.indexBits {
    color: aquamarine;
}

div.addressInfoContainer {
    width: fit-content;
    opacity: 0.5;
    margin-left: 1em;
    transition: opacity 200ms linear;
    cursor: default;
}

div.addressInfoContainer:hover {
    opacity: 1;
}

span.addressInfo {
    width: 140px;
    display: inline-block;
}